<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <link rel="stylesheet" href="/styles/sumukesh_traveler.css">
    <link rel="stylesheet" href="/styles/sumukesh_room_layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
</head>
<body>
    <%- include ('partials/header') %>
     
    <!-- Main content container -->
    <main id="home-details" class="room-details-container">
        <!-- Content will be loaded by JavaScript -->
    </main>
     
    <!-- Help button -->
    <div class="help">
        <a href="/help_index">
            <i class="fa fa-commenting-o" aria-hidden="true" id="help-icon"></i>
            <br>
            <span>&nbsp;&nbsp;&nbsp;Help</span>
        </a>
    </div>
   
    <!-- Map container -->
    <div id="room-map" style="height: 400px; width: 100%;"></div>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script type="module" src="/scripts/sumukesh_layout.js"></script>
    <!-- Remove type="module" if not using ES modules -->
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>